.statistic-blocks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 190px;
}

.statistic-info {
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
       
        li{
            box-sizing: content-box;
            width: 278px;
            height: 198px;
            padding: 40px;
            border-radius: 30px;
            background: rgba(129, 129, 139, 0.10);
        }
        h4{
            margin-bottom: 56px;
            color: #FFF;
        font-family: 'Poppins', sans-serif;
            font-size: 51.2px;
            font-style: normal;
            font-weight: 500;
            line-height: 61.44px;
            
        }
        p{
            color: #9C9C9C;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
        }
    }
    

}
// .statistic-img {

// }