<section class="page__clients clients">
  <div class="clients container container">
    <div class="clients__inform inform">
      <div class="inform__heading heading">
        <a class="heading__dark-link dark-link">testimonials</a>
        <h2 class="heading__title">See what our clients say</h2>
        <div class="heading__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero.
        </div>
      </div>
      <div class="inform__button-box">
        <a href="#" class="inform__button button">Get in touch</a>
      </div>
    </div>
    <div class="clients__cards cards">
      <div class="cards__item item">
        <div class="item__header">
          <img src="image/clients_1.png" alt="clients_1" />
          <div class="item__header-box">
            <span class="item__name">John Doe</span>
            <span class="item__company">Company Name</span>
          </div>
        </div>
        <h2 class="item__heading">"I recommend this agency"</h2>
        <div class="item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero.
        </div>
        <ul class="item__list">
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
        </ul>
      </div>
      <div class="cards__item item">
        <div class="item__header">
          <img src="image/clients_2.png" alt="clients_2" />
          <div class="item__header-box">
            <span class="item__name">Alice Smith</span>
            <span class="item__company">Company Name</span>
          </div>
        </div>
        <h2 class="item__heading">"The support is awesome"</h2>
        <div class="item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero.
        </div>
        <ul class="item__list">
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
        </ul>
      </div>
      <div class="cards__item item">
        <div class="item__header">
          <img src="image/clients_3.png" alt="clients_3" />
          <div class="item__header-box">
            <span class="item__name">Sophia Miller</span>
            <span class="item__company">Company Name</span>
          </div>
        </div>
        <h2 class="item__heading">“A game changer for us”</h2>
        <div class="item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero.
        </div>
        <ul class="item__list">
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
          <li class="item__star">
            <img src="image/star.png" alt="star" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
