<section class="page__clients clients">
  <div class="clients container container">
    <div class="clients__inform inform">
      <div class="inform__heading heading">
        <a class="heading__dark-link dark-link">testimonials</a>
        <h2 class="heading__title">See what our clients say</h2>
        <div class="heading__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero.
        </div>
      </div>
      <div class="inform__button-box">
        <a href="#" class="inform__button button">Get in touch</a>
      </div>
    </div>
  </div>
</section>
