<section class="page__contact-us contact-us">
  <div class="contact-us__container container">
    <div class="contact-us__description-block description-block">
      <h1 class="description-block__title">
        Marketing solutions <br />
        that grow your business.
      </h1>
      <div class="description-block__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor.
      </div>
      <div class="description-block__box-button">
        <a href="#" class="description-block__button button"> Our services </a>
        <a href="#" class="description-block__button button button_dark-bg">
          Contact us
        </a>
      </div>
    </div>
    <div class="contact-us__images images">
      <div class="images__column">
        <div class="images__item images__item_1st">
          <img src="image/contact-us_1.png" alt="contact-us_1" />
        </div>
        <div class="images__item images__item_2nd">
          <img src="image/contact-us_2.png" alt="contact-us_2" />
        </div>
      </div>
      <div class="images__column">
        <div class="images__item images__item_3d">
          <img src="image/contact-us_3.png" alt="contact-us_3" />
        </div>
        <div class="images__item images__item_4th">
          <img src="image/contact-us_4.png" alt="contact-us_4" />
        </div>
      </div>
    </div>
  </div>
</section>
