<section class="page__content-marketing content-marketing">
  <div class="content-marketing__container container">
    <div class="content-marketing__body">
      <div class="content-marketing__items">
        <div class="content-marketing__images-box images-box">
          <div class="images-box__image">
            <img
              src="image/content-marketing_1.png"
              alt="content-marketing_1"
            />
          </div>
          <div class="images-box__image">
            <img
              src="image/content-marketing_2.png"
              alt="content-marketing_2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
