<section class="page__content-marketing content-marketing">
  <div class="content-marketing__container container">
    <div class="content-marketing__body">
      <div class="content-marketing__items">
        <div class="content-marketing__images-box images-box">
          <div class="images-box__image">
            <img
              src="image/content-marketing_1.png"
              alt="content-marketing_1"
            />
          </div>
          <div class="images-box__image images-box__image_second">
            <img
              src="image/content-marketing_2.png"
              alt="content-marketing_2"
            />
          </div>
        </div>
        <div class="content-marketing__info info">
          <a href="#" class="info__dark-link dark-link"> why choose us </a>
          <h2 class="info__title">
            We help great brands scale with content marketing.
          </h2>
          <div class="info__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor.
          </div>
          <ul class="info__list">
            <li class="info__item">
              <span class="info__text-list"
                >This is some text inside of a div.</span
              >
            </li>
            <li class="info__item">
              <span class="info__text-list"
                >This is some text inside of a div.</span
              >
            </li>
            <li class="info__item">
              <span class="info__text-list"
                >This is some text inside of a div.</span
              >
            </li>
            <li class="info__item">
              <span class="info__text-list"
                >This is some text inside of a div.</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
