<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top top-footer">
      <div class="top-footer__item-top-footer item-top-footer">
        <a href="#" class="item-top-footer__logo-link">
          <img src="image/footer_logo.svg" alt="footer_logo" />
        </a>
        <div class="item-top-footer__text">
          Growfy is a template highly suitable for modern marketing agencies,
          digital studios, startups and businesses. The design is made in the
          dark style, which makes the site memorable and you can easily adapt it
          to your brand.
        </div>
        <div class="item-top-footer__social-block social-block">
          <a href="" class="social-block__social-media-item">
            <img src="image/social_1.png" alt="social_1" />
          </a>
          <a href="" class="social-block__social-media-item">
            <img src="image/social_2.png" alt="social_2" />
          </a>
          <a href="" class="social-block__social-media-item">
            <img src="image/social_3.png" alt="social_3" />
          </a>
          <a href="" class="social-block__social-media-item">
            <img src="image/social_4.png" alt="social_4" />
          </a>
          <a href="" class="social-block__social-media-item">
            <img src="image/social_5.png" alt="social_5" />
          </a>
        </div>
      </div>
      <div
        class="top-footer__item-top-footer item-top-footer item-top-footer_flex"
      >
        <div class="item-top-footer__left-info common-info">
          <h4 class="common-info__heading">Pages</h4>
          <ul class="common-info__list">
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Home </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> About </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Services </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Packages </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Blog </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Contact </a>
            </li>
          </ul>
        </div>
        <div class="item-top-footer__right-info common-info">
          <h4 class="common-info__heading">Utility pages</h4>
          <ul class="common-info__list">
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Instructions </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Style guide </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Licenses </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link"> Changelog </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link">
                404 Not found
              </a>
            </li>
            <li class="common-info__list-item">
              <a href="#" class="common-info__list-item-link">
                Password protected
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="top-footer__item-top-footer item-top-footer">
        <h4 class="item-top-footer__subscribe-title">
          Subscribe to our newsletter
        </h4>
        <div class="item-top-footer__subscribe-text">
          Lorem ipsum dolor sit am consectetur adipiscing
        </div>
        <div class="item-top-footer__button-box button-box">
          <a href="#" class="button-box__button button button_dark"
            >Enter your email</a
          >
          <a href="#" class="button-box__button button">Subscribe</a>
        </div>
      </div>
    </div>
    <div class="footer__bottom bottom-footer">
      <div class="bottom-footer__year">© 2022</div>
    </div>
  </div>
</footer>
