<section class="services"> 
    <div class="container">
<div class="services-blocks">

    <div class="services-descr">
        <button type="button">services</button>
        <h2 class="services-title">
            Services we offer
        </h2>
        <p class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, suspendisse varius enim ineros elementum
            tristique.<br> Duis
            cursus, mi quis viverra ornare, eros dolor.
        </p>
        <button class="descr-btn">
            <a href="#">All services</a> 
        </button>
    </div>

    <div class="services-optional">
        <ul class="services-big-list">
            <ul>
                <li class="services-item">
                    <div class="svg-shadow first">
                        <div class="svg-color one">
                            <svg class="svg-item" width="30px">
                                <use href="./image/icons/Sprite.svg#class"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 class="services-subtitle">Social Media Marketing</h3>
                    <p class="services-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit lobortis arcu enim urna adipiscing praesent velit.
                    </p>
                </li>
            </ul>

            <ul>
                <li class="services-item">
                    <div class="svg-shadow second">
                        <div class="svg-color two">
                            <svg class="svg-item" width="20px">
                                <use href="./image/icons/Sprite.svg#dollar"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 class="services-subtitle">Social Media Marketing</h3>
                    <p class="services-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit lobortis arcu enim urna adipiscing praesent velit.
                    </p>
                </li>
            </ul>

            <ul>
                <li class="services-item">
                    <div class="svg-shadow third">
                        <div class="svg-color three">
                            <svg class="svg-item" width="30px">
                                <use href="./image/icons/Sprite.svg#email"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 class="services-subtitle">Social Media Marketing</h3>
                    <p class="services-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit lobortis arcu enim urna adipiscing praesent velit.
                    </p>
                </li>
            </ul>

            <ul>
                <li class="services-item">
                    <div class="svg-shadow fourth">
                        <div class="svg-color four">
                            <svg class="svg-item" width="30px">
                                <use href="./image/icons/Sprite.svg#search"></use>
                            </svg>
                        </div>
                    </div>
                    <h3 class="services-subtitle">Social Media Marketing</h3>
                    <p class="services-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit lobortis arcu enim urna adipiscing praesent velit.
                    </p>
                </li>
            </ul>

        </ul>
    </div>
    </div>
</section>
