<section class="statistic">
<div class="container">
<div class="statistic-blocks">

<div class="statistic-info">
<ul>
    <li>
<h4>1.2M+</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.</p>
    </li>
    <li>
<h4>3.4B</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.</p>
    </li>
    <li>
<h4>98%</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.</p>
    </li>
    <li>
<h4>10+</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.</p>
    </li>
</ul>
</div>

<div class="statistic-img">
<img src="image/orange-man.png" alt="">
</div>
</div>
</div>
</section>